<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ProjetoFinalBlazor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="inicio">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="estoque">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Estoque
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="realizar-doacao">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Nova Doacao
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="doadores">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Doadores
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="beneficiarios">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Beneficiarios
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
